.header {
  color: #333;
}

.header h1 {
  text-transform: uppercase;
}

.header h1:after {
  display: block;
  height: 0;
  width: 25%;
  max-width: 200px;
  border-bottom: 20px solid #333;
  content: "";
}
