.header {
  color: var(--color-strong);
}

.header h1 {
  font-family: "Gotham Bold", sans-serif;
  text-transform: uppercase;
  margin: 90px 0 40px 0;
}

.header h1:after {
  display: block;
  height: 0;
  width: 25%;
  max-width: 100px;
  border-bottom: 10px solid var(--color-strong);
  content: "";
  margin-top: 20px;
}

.header-body {
  width: var(--site-width);
  margin: 0 auto;
}

.header p {
  margin: 0;
}
