.header {
  color: var(--color-strong);
}

.header h1 {
  font-family: "Gotham Bold", sans-serif;
  text-transform: uppercase;
}

.header h1:after {
  display: block;
  height: 0;
  width: 25%;
  max-width: 100px;
  border-bottom: 10px solid var(--color-strong);
  content: "";
}
