.header {
  color: var(--color-strong);
}

.header h1 {
  text-transform: uppercase;
}

.header h1:after {
  display: block;
  height: 0;
  width: 25%;
  max-width: 200px;
  border-bottom: 20px solid var(--color-strong);
  content: "";
}
