.training-time {
  border: 0;
  outline: 0;
}

.training-time legend {
  border-bottom: 1px solid var(--color-lightest);
  width: 100%;
  color: var(--color-light);
  font-family: "Gotham Light";
  font-size: 1.5em;
}
